
.container-buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
}

/*Mobile*/
@media screen and (min-width: 30em) and (orientation: landscape) {
  button:nth-child(1n + 2) {
    background-color: blue;
  }
}
@media screen and (min-width: 30em) and (orientation: portrait) {
  button:nth-child(1n + 2) {
    background-color: green;
  }
}

/*Desktop*/
@media screen and (max-width: 30em) and (orientation: landscape) {
  button {
    width: 100%;
  }
  button:nth-child(1n + 2) {
    background-color: red;
  }
}
@media screen and (max-width: 30em) and (orientation: portrait) {
  button {
    width: 100%;
  }
  button:nth-child(1n + 2) {
    background-color: yellow;
  }
}
