@media screen and (min-width: 30em) and (orientation: landscape) {
  button {
    flex-direction: row;
  }
  button:nth-child(1n + 2) {
    gap: 1em;
    background-color: blue;
  }
}
@media screen and (max-width: 30em) and (orientation: landscape) {
  button {
    width: 100%;
  }
  button:nth-child(1n + 2) {
    gap: 1em;
    background-color: red;
  }
}

@media screen and (min-width: 30em) and (orientation: portrait) {
  button {
    flex-direction: row;
  }
  button:nth-child(1n + 2) {
    gap: 1em;
    background-color: green;
  }
}
@media screen and (max-width: 30em) and (orientation: portrait) {
  button {
    width: 100%;
  }
  button:nth-child(1n + 2) {
    gap: 1em;
    background-color: yellow;
  }
}
