.container-buttons {
  display: flex;
  gap: $gap;
  flex-wrap: wrap;
}

.container-buttons {
  @media screen and (min-width: 30em) and (orientation: landscape) {
    flex-direction: row;
    button:nth-child(1n + 2) {
      background-color: blue;
    }
  }
  @media screen and (min-width: 30em) and (orientation: portrait) {
    flex-direction: row;
    button:nth-child(1n + 2) {
      background-color: green;
    }
  }
  @include breakpoint(mobile) {
    @include orientation(landscape) {
      flex-direction: column;
      button {
        width: 100%;
      }
      button:nth-child(1n + 2) {
        background-color: red;
      }
    }
    @include orientation(portrait) {
      flex-direction: column;
      button {
        width: 100%;
      }
      button:nth-child(1n + 2) {
        background-color: yellow;
      }
    }
  }
}
